<link rel="icon" type="image/ico" href="logokiji.png" />

h3 {
  color: skyblue;
}
a {
  color: skyblue;
  text-decoration: none;
}
h1 {
  font-size: 70px;
  text-align:center;
  border-bottom: 4px solid darkgrey;
  padding: 30px;
  margin: 0px;
}
#grid ul {
  font-weight: bold;
  border-right: 4px solid darkgrey;
  width: 100px;
  margin-top: 0px;
  padding-left: 30px
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
#article {
  padding-top: 12px;
  padding-right: 40px;
  padding-left: 40px;
}
.mainimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
@media(max-width: 960px){
  #grid {
    display: block;
  }
  #grid ul {
    border-right: none
  }
  .mainimg{
    width: 400px;
  }
}
